doctype html
html
	head
		title Unicodeかるた
		script(src='index.js', defer=true)
		link(rel='stylesheet', href='index.css')
		meta(name='viewport', content='width=device-width,initial-scale=1')
	body
		.app
