.wrap {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;

	.head {
		text-align: center;
	}

	.player {
		margin: 0 auto;
	}

	.voices {
		background: rgba(255, 255, 255, 0.3);
		margin: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
