.play {
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.name-card-area {
	flex: 0 0 76px;
	margin-top: 20px;

	border: 0 solid #007122;
	border-width: 8px 0;
	box-sizing: border-box;

	background-color: white;

	line-height: 25px;
	padding: 5px 2em;

	font-size: 18px;
	font-weight: bold;
	word-spacing: 0.2em;

	box-shadow: 0 0 10px 0 black;
}

.character-card-area {
	flex: 1 1 0;
}

.information-area {
	flex: 0 0 120px;
}
